body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('images/bg.jpg');
  color: white;
}

.zipfy {
  padding: 50px;
  background-image: url('images/zipfy-bg.png');
  color: black;
  width: 75%;
  margin: auto;
}

.docInput {
  width: 80%;
  margin: auto;
}

a {
  color: #00B7FF;
}

.btn-lg {
  margin: auto;
}

.hdr {
  margin: auto;
    width: auto;
}

.info {
  float:left;
  width: 50%;
}